/*
 * Copyright (C) 2020. Entgra (Pvt) Ltd, https://entgra.io
 * All Rights Reserved.
 *
 * Unauthorized copying/redistribution of this file, via any medium
 * is strictly prohibited.
 * Proprietary and confidential.
 *
 * Licensed under the Entgra Commercial License,
 * Version 1.0 (the "License");
 * you may not use this file except in compliance with the License.
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 * You may obtain a copy of the License at
 * https://entgra.io/licenses/entgra-commercial/1.0
 */

.profile {
    float: right;
    margin-right: 2%;
}

.logoImage {
    height: 45px;
    margin: 0 5px 16px 24px;
    float: left;
}

.logoImage img {
    height: 35px;
}

.header {
    background: #ffffff;
    padding: 0;
    z-index: 10;
}

.rightAlignedMenu {
    float: right;
}

.avatar {
    background-color: #FFA717;
}

.logo {
    margin: 16px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.logo img {
    width: 75%;
}

.txtWhite {
    color: white;
}

.content {
    min-height: 95vh;
}

@media only screen and (min-width: 992px) {
    .content, .header {
        margin-left: 200px;
        background-color: white;
    }
}

.searchIcon {
    margin-left: 20px;
    margin-top: 20px;
}

.searchBar {
    margin-top: 16px;
    width: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: none;
}

@media only screen and (min-width: 992px) {
    .searchBar {
        width: 400px
    }
}

.notificationButton {
    font-size: 20px !important;
    margin-right: 0 !important;
    vertical-align: middle;
}
