/*
 * Copyright (C) 2020. Entgra (Pvt) Ltd, https://entgra.io
 * All Rights Reserved.
 *
 * Unauthorized copying/redistribution of this file, via any medium
 * is strictly prohibited.
 * Proprietary and confidential.
 *
 * Licensed under the Entgra Commercial License,
 * Version 1.0 (the "License");
 * you may not use this file except in compliance with the License.
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 * You may obtain a copy of the License at
 * https://entgra.io/licenses/entgra-commercial/1.0
 */

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg) scale(1.0);
  }
  100% {
    -moz-transform: rotate(360deg) scale(0.1);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1.0);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.1);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1.0);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.1);
    transform: rotate(360deg) scale(0.1);
  }
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  animation: spin 200s infinite linear;
}

.content {
  position: relative;
  z-index: 1;
}
